.App {
  max-width: 80%;
  margin: 0 auto;
}

.App h1 {
  font-size: 70px;
  text-align: center;
  padding: 5px;
}

.App h1 span {
  color: rgb(120, 155, 177);
}

.App .title {
  box-shadow: none;
}

.App section {
  margin: 25px 10px;
  box-shadow: 10px 5px 5px grey;
}

.App-footer {
  text-align: center;
}

.App .link {
  color: rgb(120, 155, 177);
  text-decoration: none;
}

.App .link:hover {
  color: rgb(133, 175, 201);
  text-decoration: underline;
}

body {
  background-color: white;
}
