.App {
  max-width: 80%;
  margin: 0 auto;
}

.App h1 {
  font-size: 70px;
  text-align: center;
  padding: 5px;
}

.App section {
  margin: 20px 20px;
}

.App-footer {
  text-align: center;
}

body {
  background-color: #dad5cd;
}
