.Dictionary h3 {
  font-size: 20px;
  margin-bottom: 15px;
}

.Dictionary section {
  background: #dad5cd;
  padding: 30px 20px;
  border-radius: 8px;
  box-shadow: 0px 5px 15px rgb(0, 0, 0, 0.1);
}

.Dictionary .search {
  width: 80%;
  padding: 10px;
  background-color: rgb(245, 245, 245);
  border: 2px solid black;
}

.Dictionary .submit {
  width: 15%;
  font-size: 17px;
  border: transparent;
  border-radius: 3px;
  padding: 11px 9px;
  margin-left: 10px;
  background-color: rgb(120, 155, 177);
  color: white;
}

.Dictionary .submit:hover {
  background-color: rgb(130, 161, 181);
  transition: all 200ms ease-in-out;
}
